header {
  font-size: 1em;
}

header nav {
  display: flex;
  font-size: 1em;
  justify-content: space-between;
  padding: 10px 15px;
}

header nav .nav-right {
  display: flex;
  align-items: center;
}

header nav .nav-right a {
  color: #444;
  font-size: 1.1em;
  margin: 0 5px;
  padding: 5px 10px;
}

header nav .nav-left .register-login-btn {
  border: 1px solid #666;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 8px;
}

header nav .nav-left .register-login-btn i {
  color: #444;
  margin: 7px;
  font-size: 1.1em;
}

header nav .nav-left .register-login-btn a {
  color: #444;
  font-size: .9em;
  margin: 0 10px;
}
